<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form>
        <label for="proficiency">What is your proficiency: </label>
        <input type="text" id="proficiency" name="proficiency">
        <br>
        <label for="security-question">What is your question?: </label>
        <input type="text" id="security-question" name="security-question">
    </form>
</body>