<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_quiz.css') }}">
</head>
<body>
    <h2 id="hq"> 50 Questions</h2>
    <div class="wrapper">
        <div class="container">
            <header>
                <h3>{{ question }}</h3>
            </header>
            <form method="POST">
                <div class="form-group">
                    <label>Select your answer:</label>
                    <div>
                        <input type="radio" id="q{{ question_id+1 }}_1" name="q{{ question_id+1 }}" value="1">
                        <label for="q{{ question_id+1 }}_1">1 (Never)</label>
                    </div>
                    <div>
                        <input type="radio" id="q{{ question_id+1 }}_2" name="q{{ question_id+1 }}" value="2">
                        <label for="q{{ question_id+1 }}_2">2 (Rarely)</label>
                    </div>
                    <div>
                        <input type="radio" id="q{{ question_id+1 }}_3" name="q{{ question_id+1 }}" value="3">
                        <label for="q{{ question_id+1 }}_3">3 (Sometimes)</label>
                    </div>
                    <div>
                        <input type="radio" id="q{{ question_id+1 }}_4" name="q{{ question_id+1 }}" value="4">
                        <label for="q{{ question_id+1 }}_4">4 (Often)</label>
                    </div>
                    <div>
                        <input type="radio" id="q{{ question_id+1 }}_5" name="q{{ question_id+1 }}" value="5">
                        <label for="q{{ question_id+1 }}_5">5 (Always)</label>
                    </div>
                </div>
                <div class="navigation-buttons">
                    <button type="submit" name="previous" {% if question_id == 0 %} disabled {% endif %}>Previous</button>
                    <button type="submit" name="next" {% if question_id == questions|length - 1 %}style="display:none;"{% endif %}>Next</button>
                    <button type="submit" name="submit" {% if question_id != questions|length - 1 %}style="display:none;"{% endif %}>Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>